.imgFondo {
    background-color: #90caf9;
}
.opacidad{
	opacity: 0.7;
}
/*fuente logo*/
@font-face {
	font-family: "SpiroFace.ttf";
	src: url("../fonts/spiro-face/SpiroFace.ttf");
}
#letraLogo {
	font-family: "SpiroFace.ttf";
	font-size: 100%;	 
	margin: -36% 0% 0% 21%;
}
/*fuente texto logo*/
@font-face {
	font-family: "Sebastiana personal use.otf";
	src: url("../fonts/sebastiana/Sebastiana personal use.otf");
}
.textLogo {
	font-family: "sebastiana personal use.otf";
}
/*sobre mi*/
.fotoPerfil{
    width: 35%;
    height: 25vw;
    margin: 5% 0% 0% 35%;
    padding: 1%;
    border: 1px solid white;
}
/*habilidades*/
.animated {
	animation-duration: 5s !important;
}
/*proyectos*/
.imgProyectos {
	filter: sepia(100%);
-webkit-filter: sepia(100%);
-moz-filter: sepia(100%);
-o-filter: sepia(100%);
-ms-filter: sepia(100%);
}
/*footer*/
.contBtnFooter{
	height: 200px;
}
/*contacto*/
.contacto:hover {
	-webkit-transform: rotateY(150deg); 
    transform: rotateY(150deg);
}
.btnDownload {
    position: relative;
    animation: myfirst 3s infinite;
} 

/* For mobile phones: */
[class*="contacto"] {
    height: 5vw;
    margin: 0% 0% 0% 16%;
}
@media only screen and (min-width: 320px) {
    /* For tablets: */
    .contacto:hover {
	-webkit-transform: rotateY(150deg); 
    transform: rotateY(150deg);
	}
    .contacto {height: 8vw;}
}
@media only screen and (min-width: 1024px) {
    /* For desktop: */
    .contacto:hover {
	-webkit-transform: rotateY(150deg); 
    transform: rotateY(150deg);
	}
    .contacto {height: 7vw;}
}
/*media query*/
/*habilidades*/
@media only screen and (min-width: 320px){
	/*mobile phone*/
	.imgHabil {
		width: 100%;
		height: auto;
	}
}
@media only screen and (min-width: 1024px){
	/*desktop*/
	.imgHabil {
		width: 50%;
		height: 10vw;
	}
}
/*texto*/
@media only screen and (min-width: 320px){
	/*mobile phone*/
	.textoPerfil{
		display: none;
	}
	.textPerfil{
		/*-webkit-backface-visibility: visible;  
    backface-visibility: visible;*/
    -webkit-backface-visibility: hidden;  
    backface-visibility: hidden;
	}
}
@media only screen and (min-width: 1024px){
	/*desktop*/
	.textoPerfil{
		display: flex;
	}
}
@-webkit-keyframes myfirst {
    25%  {
    	left: 6px; 
    	right: 200px;
    }
    50%  {
    	left: 6px; 
    	right: 200px;
    }
    75%  {
    	left: 6px; 
    }
}
@keyframes myfirst {
    25%  {
    	left: 6px; 
    	right: 200px;
    } 
    50%  {
    	left: 6px; 
    	right: 200px;
    }
    75%  {
    	left: 6px; 
    }
}